.events-container {
  text-align: center;
  padding: 20px;
  padding-top: 60px;
  margin-top: 20px;
}

.head {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 16px;
}

.events-title {
  color: var(--secondary-color);
  font-size: 30px;
  margin-bottom: 40px;
}

.calendar-embed {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}

.responsive-iframe {
  width: 100%;
  max-width: 900px;
  height: 450px;
  border: 1px solid #bfcbda88;
  border-radius: 4px;
}

@media only screen and (max-width: 880px) {
  .events-title {
    font-size: 24px;
  }

  .responsive-iframe {
    height: 350px;
  }
}

@media only screen and (max-width: 480px) {
  .events-title {
    font-size: 20px;
  }

  .responsive-iframe {
    height: 300px;
  }
}

@media only screen and (max-width: 320px) {
  .events-title {
    font-size: 18px;
  }

  .responsive-iframe {
    height: 250px;
  }
}
