.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
    padding-left: 160px;
    padding-top: 80px;
    padding-bottom: 90px;
    background-color: rgba(197, 252, 255, 0.25);
    color: #ffffff;
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
}

.hero-content {
    max-width: 50%;
}

.welcome-text {
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 20px;
    position: relative;
    font-family: var(--primary-font);
}

.hero h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: var(--secondary-color);
}

.hero h1 span {
    color: var(--primary-color);
}

.hero p {
    font-size: 18px;
    margin-bottom: 40px;
    color: #8492A7;
    line-height: 1.5;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.discover-btn,
.join-btn {
    padding: 15px 40px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    text-decoration: none;
    white-space: nowrap;
}

.discover-btn {
    background-color: var(--primary-color);
    color: #ffffff;
}

.discover-btn:hover {
    background-color: var(--primary-color);
}

.join-btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: #3A4B4C;
}

.join-btn:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.hero-image {
    max-width: 45%;
    flex-shrink: 0;
    margin-top: 30px;
}

.hero-image img {
    width: 100%;
}


@media (max-width: 1024px) {
    .hero {
        padding: 50px;
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 16px;
        padding-right: 0;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-image {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .hero {
        padding: 40px 20px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero p {
        font-size: 14px;
    }

    .discover-btn,
    .join-btn {
        padding: 12px 25px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .hero {
        padding: 30px 10px;
    }

    .hero h1 {
        font-size: 28px;
    }

    .hero p {
        font-size: 12px;
    }

    .discover-btn,
    .join-btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .hero-image img {
        border-radius: 8px;
    }
}
