.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 60px;
  position: relative;
  z-index: 10;
  background-color: rgba(197, 252, 255, 0.25);
  padding: 10px 130px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
}


.logo img {
  height: 40px;
  width: 40px;
}

.nav-links a:hover {
  color: var(--primary-color);
}

.close-icon {
  display: none;
  border: 1px solid var(--primary-color);
  padding: 5px 10px;
  background: var(--primary-color);
  border-radius: 5px;
}

.close-icon i {
  text-align: center;
  width: 20px;
}

.menu-button {
  display: none;
}

.menu-icon i {
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 853px) {
  .navbar {
    padding: 10px 10px;
  }
  .menu-button {
    display: block;
  }

  .nav-links {
    padding-top: 30px;
    background: rgb(197, 252, 255);
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    margin-top: -100%;
    transition: 0.5s ease;
  }

  .nav-links.active {
    margin-top: 0;
  }

  .close-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  ul a {
    text-decoration: underline;
  }

  .logo {
    margin-left: 20px;
  }

  .nav-links a {
    font-size: 18px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 480px) {
  .nav-links {
    gap: 10px;
  }

  .nav-links a {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 10px 5px;
  }

  .logo {
    margin-left: 10px;
  }

  .nav-links {
    padding: 15px;
    gap: 10px;
    font-size: 14px;
  }

  .nav-links a {
    padding: 8px 10px;
  }
}

@media screen and (max-width: 353px) {
  .navbar {
    padding: 10px 2px;
  }

  .logo {
    margin-left: 5px;
  }

  .nav-links {
    padding: 10px;
    gap: 8px;
    font-size: 12px;
  }

  .nav-links a {
    padding: 6px 8px;
  }
}
